body {
    font-size: 14px;
    color: black;
    background-color: #fefefe;
    font-family:sans serif;
}

.pathToRoot {
    font-size: 12px;
    color: #0a0a0a;
    background-color: #aaaaaa;
    cursor: hand;
    font-family:sans-serif;
}


.cat {
    background-color: #e6e6e6;
    color: #0a0a0a;
    font-size: 12px;
    cursor: hand;
    font-family:sans-serif;
}

.listaDeCategorias
{
    float:left;
    margin-bottom:10px;
    margin-top:10px;
}

.pathToRoot
{
    float:left;
    margin-bottom:10px;
    margin-top:10px;
    margin-right:10px;
}


.wishlist
{
    background-color: #fafafa;
    color: #0a0a0a;
    font-size: 12px;
    font-family:sans-serif;
    float:left;
	clear:left;	
}

#volverAlIndice
{
    float:left;
    margin-bottom:10px;
    margin-right:10px;
}

.productos {
    background-color: #bababa;
    color: #0a0a0a;
    font-size: 12px;
    font-family:sans-serif;
    float:left;
	clear:left;	
}

#productoABuscar {
	height: 22px;
	width: 30%;
	font-size: 16px;
}

.A
{
cursor: crosshair;
}
A:link {color:#0a0a0a}
A:visited {color:#0a0a0a}
A:hover {color:#0a0a0a}
A:active {color:#0a0a0a}
