body {
    font-size: 12px;
    color: black;
    font-family:sans-serif;
    background-color: #fafafa;
    color: #0a0a0a;
}


.A
{
cursor: crosshair;
}
A:link {color:#0a0a0a}
A:visited {color:#0a0a0a}
A:hover {color:#0a0a0a}
A:active {color:#0a0a0a}

#pathToRoot {

    background-color: #e6e6e6;
    cursor: hand;
    font-family:sans-serif;
    float:left;
    margin-bottom:10px;
    margin-top:10px;
    margin-right:10px;
}

#listaDeCategorias
{

    background-color: #e6e6e6;
    float:left;
    margin-bottom:10px;
    margin-top:10px;
    cursor: hand;
    font-family:sans-serif;
}


#wishlist
{
    background-color: #e6e6e6;
    float:left;
	clear:left;	
    margin-top:10px;
    margin-bottom:10px;
    margin-right:10px;
}

#volverAlIndice
{
    float:left;
    margin-bottom:10px;
    margin-right:10px;
}

#productos {
    background-color: #e6e6e6;
    float:left;
	clear:left;	
    margin-bottom:10px;
    margin-top:10px;
}

#productoABuscar {
	height: 22px;
	width: 30%;
	font-size: 16px;
    margin-bottom:10px;
}

