body {
    font-size: 16px;
    color: black;
    background-color: #fefefe;
}

.pathToRoot {
    font-size: 12px;
    color: #0a0a0a;
    background-color: #aaaaaa;
}

.cat {
    background-color: #e6e6e6;
    color: #0a0a0a;
    font-size: 14px;
}

.productos {
    background-color: #bababa;
    color: #0a0a0a;
    font-size: 14px;
}


A:link {color:#0a0a0a}
A:visited {color:#0a0a0a}
A:hover {color:#0a0a0a}
A:active {color:#0a0a0a}