body {
    font-size: 12px;
    color: black;
    background-color: #fefefe;
}

.pathToRoot {
    font-size: 12px;
    color: #0a0a0a;
    background-color: #aaaaaa;
}

.cat {
    background-color: #e6e6e6;
    color: #0a0a0a;
    font-size: 12px;
}